<div class="login-container h-full">
  <h1 class="text-center title-text mb-xl">Login</h1>
  <form class="container-col-center pv-xl" [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu nombre"
      />
      @if (loginForm.get('name')?.hasError('required') ) {
      <mat-error>El nombre es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu email"
      />
      @if (loginForm.get('name')?.hasError('required') ) {
      <mat-error>El email es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu contraseña"
      />
      @if (loginForm.get('name')?.hasError('required') ) {
      <mat-error>La contraseña es <strong>requerida</strong></mat-error>
      }
    </mat-form-field>
    <div class="container-center mt-lg mb-lg" (click)="toGoRegister()">
      <span> Registrate aquí.</span>
    </div>
    <div class="container-center">
      <button
        mat-fab
        extended
        color="primary"
        [disabled]="this.loginForm.invalid"
        (click)="toGoLogin()"
      >
        <mat-icon>send </mat-icon>
        Ingresar
      </button>
    </div>
  </form>
</div>
