@import "../../../styles.scss";

.login-container {
  form {
    border: 2px solid $primary-color;
    margin: $xl auto;
    border-radius: 14px;
    width: 50%;
    mat-form-field {
      width: 40%;
    }
    @media (max-width: 768px) {
      width: 80%;
      mat-form-field {
        width: 80%;
      }
    }
  }
}
