<div class="container-row-center h-full">
  <h1 class="title-text text-center">{{ "OWNERMANEGEMENT.TITLE" | translate }}</h1>
  <div class="grid-repeat-fit mt-xxlg">
    <div class="container-col-center">
      <img src="../../../../assets/imgs/avatar.jpeg" alt="" />
      <div class="container-col-center mt-lg">
        <h3>! Nuevo Solicitud de alquiler !</h3>
        <p class="text-center">
          Enrique Villón quiere alquilar tu Bicicleta Monark negra por 2 días,
          tiene 4.9 de puntuación
        </p>
        <button mat-flat-button color="primary" class="mt-lg">Aceptar</button>
      </div>
    </div>
    <div class="">
      <h3>Falta poco para llegar a tu meta de dinero</h3>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
</div>
