<div class="register-container h-full">
  <h1 class="text-center title-text mb-xl">REGÍSTRATE</h1>
  <form class="container-col-center pv-xl" [formGroup]="registerForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu email"
      />
      @if (registerForm.get('email')?.invalid ) {
      <mat-error>Ingresa el <strong> email </strong> correcto</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        type="name"
        matInput
        formControlName="name"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu nombre"
      />
      @if (registerForm.get('name')?.invalid ) {
      <mat-error>Mínimo 6 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa Contraseña"
      />
      @if (registerForm.get('password')?.invalid ) {
      <mat-error>Mínimo 6 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-slide-toggle
      color="primary"
      class="example-margin"
      [checked]="isOwner"
    >
      Quieres alquilar tu vehículo
    </mat-slide-toggle>
    <div class="container-center mt-lg mb-lg" (click)="goToLogin()">
      <span> O Iniciar Sesión aquí</span>
    </div>
    <div class="container-center">
      <button
        mat-flat-button
        color="primary"
        (click)="sendRegister()"
      >
        Regístrarse
      </button>
    </div>
  </form>
</div>
