<div class="register-container h-full">
  <h1 class="text-center title-text mb-xl">REGÍSTRATE</h1>
  <form class="container-col-center pv-xl" [formGroup]="registerForm">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input
        type="userName"
        matInput
        formControlName="userName"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu usuario"
      />
      @if (registerForm.get('userName')?.invalid ) {
      <mat-error>Ingresa un<strong> usuario </strong> obligatorio </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        type="firstName"
        matInput
        formControlName="firstName"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu nombre"
      />
      @if (registerForm.get('name')?.invalid ) {
      <mat-error>Mínimo 4 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input
        type="lastName"
        matInput
        formControlName="lastName"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu apellido"
      />
      @if (registerForm.get('name')?.invalid ) {
      <mat-error>Mínimo 2 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa Contraseña"
      />
      @if (registerForm.get('password')?.invalid ) {
      <mat-error>Mínimo 6 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input
        type="phone"
        matInput
        formControlName="phone"
        [errorStateMatcher]="matcher"
        placeholder="Ingresa tu celular"
      />
      @if (registerForm.get('phone')?.invalid ) {
      <mat-error>Exactamente 9 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      [style.display]="isOwner ? 'block' : 'none'"
    >
      <mat-label>Ciudad</mat-label>
      <input
        type="city"
        matInput
        [errorStateMatcher]="matcher"
        placeholder="Ingresa la ciudad"
      />
      @if (registerForm.get('phone')?.invalid ) {
      <mat-error>Mínimo 6 <strong>carácteres</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresa tu foto</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="text" readonly matInput formControlName="urlImage" />
      <input
        type="file"
        hidden
        accept=".jpg, .jpeg"
        #f_input
        (change)="onFileSelected($event)"
      />
      <mat-error>this field is required</mat-error>
    </mat-form-field>
    <mat-slide-toggle
      color="primary"
      class="example-margin"
      [checked]="isOwner"
      (change)="onToggleChange($event)"
    >
      Quieres alquilar tu vehículo
    </mat-slide-toggle>

    <div class="container-center mt-lg mb-lg" (click)="goToLogin()">
      <span> O Iniciar Sesión aquí</span>
    </div>
    <div class="container-center">
      <button
        mat-flat-button
        color="primary"
        (click)="sendRegister()"
        [disabled]="this.registerForm.invalid"
      >
        Regístrarse
      </button>
    </div>
  </form>
</div>
