<mat-toolbar color="primary">
  <h1 class="custom-toolbar-text cursor-pointer" (click)="goToHome()">
    GREENMOVE
  </h1>
  <div class="container-center gap-lg">
    <mat-button-toggle-group
      [value]="currentLang"
      appearance="legacy"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle
        *ngFor="let language of languages"
        (click)="useLanguage(language)"
        [aria-label]="language"
        [value]="language"
        >{{ language.toUpperCase() }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <button
      mat-icon-button
      aria-label="suscription"
      (click)="goToSuscriptions()"
    >
      <mat-icon>subscriptions</mat-icon>
    </button>
    <button mat-icon-button aria-label="profile" (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
