<app-nav-bar></app-nav-bar>
<div class="container-row-center h-full" *ngIf="reservationEntrity">
  <h1 class="title-text text-center">{{ "RENTAL.TITLE" | translate }}</h1>
  <div class="grid-repeat-fit mt-xxlg">
    <div class="p-md">
      <google-map
        [height]="'400px'"
        [width]="'100%'"
        [center]="center"
        [zoom]="zoom"
      >
        <map-marker [position]="markerPosition" [options]="markerOptions">
        </map-marker>
      </google-map>
    </div>

    <div class="container-col-center gap-lg p-md">
      <mat-accordion [multi]="true">
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "RESERVATION.TITLE_OWNER" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class=""
            style="display: grid; grid-template-columns: 1fr 1fr 1fr"
          >
            <div>
              <img
                [src]="reservationEntrity.owner.urlImage"
                alt="img_vehicle"
                style="
                  width: 70%;
                  border: 1px solid black;
                  border-radius: 100px;
                  object-fit: contain;
                "
              />
            </div>
            <div class="container-col-start">
              <span>
                {{ "PROFILEOWNER.CARD.NAME_COMPLETE" | translate }}:
                {{ reservationEntrity.owner.fullName }}
              </span>
              <span>
                {{ "PROFILEOWNER.CARD.PHONE" | translate }}:
                {{ reservationEntrity.owner.phone }}</span
              >
            </div>
            <div class="container-col-start">
              <!-- <span> Puntuación: {{ reservationEntrity.owner.rate }} </span> -->
              <span>
                {{ "PROFILEOWNER.CARD.ADDRESS" | translate }}: :
                {{ reservationEntrity.owner.streetAddress }}
              </span>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "RESERVATION.TITLE_VEHICLE" | translate }}</mat-panel-title
            >
          </mat-expansion-panel-header>

          <div
            class=""
            style="display: grid; grid-template-columns: 1fr 1fr 1fr"
          >
            <div class="container-start">
              <img
                [src]="reservationEntrity.vehicle.urlImage"
                alt="img_vehicle"
                style="
                  width: 70%;
                  border: 1px solid black;
                  border-radius: 100px;
                  object-fit: contain;
                "
              />
            </div>
            <div class="container-col-start">
              <span> {{ reservationEntrity.vehicle.name }} </span>
              <span>
                {{ "VEHICLE.CARD.SPEED" | translate }}:
                {{ reservationEntrity.vehicle.speed }} km/h
              </span>
            </div>
            <div class="container-col-start">
              <span>
                {{ "VEHICLE.CARD.TYPE" | translate }}:
                {{ convertWord(reservationEntrity.vehicle.type) }}
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="container-col-start gap-md" style="align-items: center">
        <span
          translate="PROFILEOWNER.TRIPS"
          [translateParams]="{
            count: reservationEntrity.tenant.reservationTime
          }"
        >
        </span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <button
            mat-fab
            extended
            color="primary"
            (click)="terminateReservation()"
          >
            <mat-icon> book_online</mat-icon>
            Terminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
