<div class="home-container">
  <div class="container-start gap-lg">
    <span class="title-text">
      {{
        "WELCOME"
          | translate : { user: user.getUser()?.username?.toLocaleUpperCase() }
      }}
    </span>
  </div>
  <ng-container *ngIf="profile">
    <app-vehicle-management
      *ngIf="profile.roles[0] === 'ROLE_TENANT'"
    ></app-vehicle-management>
    <app-owner-management
      *ngIf="profile.roles[0] === 'ROLE_OWNER'"
    ></app-owner-management>
  </ng-container>
</div>
