<div class="profile-management-container">
  <h1 class="title-text">Perfil de usuario</h1>
  <div class="container-between-start">
    <div class="container-col-center gap-xl">
      <div class="image-profile-container p-md">
        <img
          class="image-profile"
          src="../../../../assets/imgs/monark.jpg"
          alt=""
        />
      </div>
      <div class="bg-primary ph-xl pv-md w-available">
        <div class="container-col-start mb-sm mb-md">
          <span> Nombre completo </span>
          <div
            class="container-center-start bg-white radius-md ph-md pv-sm w-available"
          >
            <span> Enrique Villón VillónVillónVillónVillónVillón</span>
          </div>
        </div>
        <div class="container-col-start mb-md">
          <span> Suscribción </span>
          <div
            class="container-center-start bg-white radius-md ph-md pv-sm w-available"
          >
            <span> Plan Premium</span>
          </div>
        </div>
        <div class="container-col-start mb-md">
          <span> Ubicación </span>
          <div
            class="container-center-start bg-white radius-md ph-md pv-sm w-available"
          >
            <span class="text-center"> San Isidro </span>
          </div>
        </div>

        <div class="container-col-start">
          <span> Calificación </span>
          <div
            class="container-center-start bg-white radius-md ph-md pv-sm w-available"
          >
            <span class="text-center"> 4.8 </span>
          </div>
        </div>
      </div>
      <button mat-flat-button color="primary" (click)="goToBookingActive()">
        Consulta reserva activa
      </button>
    </div>
    <div>
      <h1>Historial de viajes</h1>
    </div>
  </div>
</div>
