<mat-card color="primary" (click)="goTo()">
  <mat-card-header color="primary">
    <mat-card-title>{{ vehicle.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-md-image [src]="vehicle.urlImg" alt="{{ vehicle.title }}" />
    <p>{{ vehicle.description }}</p>
    <div>
      <span> Velocidad :</span>
      <span> 30 km/h</span>
    </div>
    <div>
      <span> Precio/hora : </span>
      <span> S/.10 </span>
    </div>
    <div>
      <span> Distancia : </span>
      <span> 1.2km </span>
    </div>
  </mat-card-content>
</mat-card>
