@import '../../../../styles.scss';

.mat-mdc-card-header {
  justify-content: center;
}
.mat-mdc-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    object-fit: contain;
  }
}
.mat-mdc-card-actions {
  justify-content: end;
}
