// img {
//   width: 100%;
// }

.mat-mdc-card-header {
  justify-content: center;
}
.mat-mdc-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mat-mdc-card-actions {
  justify-content: end;
}
