<mat-card color="primary">
  <mat-card-header color="primary">
    <mat-card-title>{{ vehicle.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-md-image [src]="vehicle.urlImage" alt="{{ vehicle.title }}" />
    <div class="ml-md">
      <div class="">
        <span> {{ "VEHICLE.CARD.SPEED" | translate }}</span>
        <span> : {{ vehicle.speed }} </span>
      </div>
      <div>
        <span> {{ "VEHICLE.CARD.TYPE" | translate }}</span>
        <span> : {{ convertWord(vehicle.type) }} </span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="selectVehicle()">
      RESERVA
    </button>
  </mat-card-actions>
</mat-card>
